.nested-fields
  .input-fields
    = f.input :country_code, label: t('telecommunications_number.country_code'), as: :string
    = f.input :area_code, label: t('telecommunications_number.area_code'), as: :string
    = f.input :contact_number, label: t('telecommunications_number.contact_number')

