<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact_mechanism_type.name %>
</p>

<%= link_to 'Edit', edit_contact_mechanism_type_path(@contact_mechanism_type) %> |
<%= link_to 'Back', contact_mechanism_types_path %>
